@model IEnumerable<Student>;

<h1>Student List</h1>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Course</th>
        <th>Admission Date</th>
        <th>Email</th>
        <th>GPA</th>
        <th>Phone Number</th>
        <th>Details</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    @foreach (var student in Model)
    {
        <tr>
            <td>@student.Id</td>
            <td>@student.FirstName @student.LastName</td>
            <td>@student.Course</td>
            <td>@student.AdmissionDate</td>
            <td>@student.Email</td>
            <td>@student.GPA</td>
            <td>@student.PhoneNumber</td>

            <td><a class="btn btn-primary" asp-action="ShowDetail" asp-route-id="@student.Id">Show Details</a></td>
            <td><a class="btn btn-info" asp-action="UpdateStudent" asp-route-id="@student.Id">Update</a></td>
            <td><a class="btn btn-danger" asp-action="DeleteStudent" asp-route-id="@student.Id">Delete</a></td>
        </tr>
    }
</table>
<a class="btn btn-dark" asp-controller="Student" asp-action="AddStudent">Add Student</a>
